


body{background-image: linear-gradient(to top right, black, hsl(0, 100%, 25%));
 }

/*faire rond les pointes*/
select, button, textarea, input
{
    border-radius: 5px;
}
/*---------------------------------------------------------------------------------*/
.course1{
	background-image:url(../res/cap1.png);
	width: 5cm;
	height: 5cm;
	padding: 20px;
	display:inline-block;
    overflow:hidden;
    margin-left:50px;
    margin-bottom: 45px; 

}

.course1:hover{
	background-color:black;
    opacity: 0.5;
}
.course1 .boutton1{
	
  	margin-top: 80px;
 	display: none;	
}

.course2{
	background-image:url(../res/cap2.png);
	width: 5cm;
	height: 5cm;
	padding: 20px;
	display:inline-block;
	overflow:hidden;
	margin-left:50px;
	margin-bottom: 45px; 
}

.course2:hover{
	background-color:black;
    opacity: 0.5;
    display:inline-block;
}
.course2 .boutton2{
	
  	margin-top: 80px;
 	display: none;
	
}
.course3{
	background-image:url(../res/cap3.png);
	width: 5cm;
	height: 5cm;
	padding: 20px;
	display:inline-block;
	overflow:hidden;
	margin-left:50px;
	margin-bottom: 45px; 
}

.course3:hover{
	background-color:black;
    opacity: 0.5;
    display:inline-block;
}
.course3 .boutton3{
	
  	margin-top: 80px;
 	display: none;
	
}
.course4{
	background-image:url(../res/cap4.png);
	width: 5cm;
	height: 5cm;
	padding: 20px;
	display:inline-block;
	overflow:hidden;
	margin-left:50px;
	margin-bottom: 45px; 
}

.course4:hover{
	background-color:black;
    opacity: 0.5;
}
.course4 .boutton4{
	
  	margin-top: 80px;
 	display: none;
	
}
.course5{
	background-image:url(../res/cap5.png);
	width: 5cm;
	height: 5cm;
	padding: 20px;
	display:inline-block;
	overflow:hidden;
	margin-left:50px;
	margin-bottom: 45px; 
}

.course5:hover{
	background-color:black;
    opacity: 0.5;
}
.course5 .boutton5{
	
  	margin-top: 80px;
 	display: none;
	
}
.course6{
	background-image:url(../res/cap6.png);
	width: 5cm;
	height: 5cm;
	padding: 20px;
	display:inline-block;
	overflow:hidden;
	margin-left:50px;
	margin-bottom: 45px; 
}

.course6:hover{
	background-color:black;
    opacity: 0.5;
}
.course6 .boutton6{
	
  	margin-top: 80px;
 	display: none;
	
}
.course7{
	background-image:url(../res/cap7.png);
	width: 5cm;
	height: 5cm;
	padding: 20px;
	display:inline-block;
	overflow:hidden;
	margin-left:50px;
	margin-bottom: 45px; 
}

.course7:hover{
	background-color:black;
    opacity: 0.5;
}
.course7 .boutton7{
	
  	margin-top: 80px;
 	display: none;
	
}
.course8{
	background-image:url(../res/cap8.png);
	width: 5cm;
	height: 5cm;
	padding: 20px;
	display:inline-block;
	overflow:hidden;
	margin-left:50px;
	margin-bottom: 45px; 
}

.course8:hover{
	background-color:black;
    opacity: 0.5;
}
.course8 .boutton8{
	
  	margin-top: 80px;
 	display: none;
	
}
.course9{
	background-image:url(../res/cap9.png);
	width: 5cm;
	height: 5cm;
	padding: 20px;
	display:inline-block;
	overflow:hidden;
	margin-left:50px;
	margin-bottom: 45px; 
}

.course9:hover{
	background-color:black;
    opacity: 0.5;
}
.course9 .boutton9{
	
  	margin-top: 80px;
 	display: none;
	
}
/*------------------------------------------------------*/

textarea{
	width: 13cm;
	height: 2cm;
}

h1{color:white;
	font-size: 40px;
	
	font-family: arial;
	font-weight: normal;
	position: center;
	
}

.contact{
	width: 200px;
	height: 30px;
}

#ok{
	width: 60px;
	height: 30px;
}	

#gif{
	width:100%; height:15cm; margin-left:none;
	
}

#feedback{
	font-size: 15px;
	font-family: time new roman;

}

.first{
	color:white;
	font-size: 25px;
	padding: 50px;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
}

.first:hover {
	color:yellow;
	text-decoration: none;

}

.first:active{
color:blue;
}


a{text-decoration: none;
	font-size: 17px;
font-family: arial;
color: blue;
}


a:hover{
	color: yellow;
	text-decoration:underline;
}




.titre{background-image: url("../res/titre.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /*-----*/
  background-size: cover;
  /*----*/
  filter: blur(10px);
  width: 100%;
  height: 450px;
  margin-left: 0cm;
  padding: 140px;
  box-sizing: border-box;	  
}  

.ombre{
position: center;
margin-left: 8cm;
font-size: 80px;
color: blue;
font-family: times new roman;
text-shadow: 5px 5px yellow;
top: 40%;
transform: translate(18%, -400%);
}






p{
	font-size: 15px;
	font-family: arial;
	color: white;
	font-weight: bold;
}


